@font-face {
    font-family: 'Oxygen';
    src: url("Oxygen-Regular.ttf");
}

@font-face {
    font-family: 'Oxygen-Bold';
    src: url(Oxygen-Bold.ttf);
}

@keyframes fadeLoop {
    0% {
      opacity: 0;
    }
    50% {
      opacity: 1;
    }
    100% {
      opacity: 0;
    }
}

:root {
    --player-hud-height: 20vh;
    --player-hud-width: 3vw;
    --player-hud-padding: 0.25em;
    --progressradial-margin: 0.1em;
    --progressradial-height: calc(var(--player-hud-height) / 4 - (2 * var(--progressradial-margin)));
    --progressradial-width: calc(3vw - (2 * var(--player-hud-padding)));
    --progressradial-circle-radius: calc((3vw - (2 * var(--player-hud-padding))) / 2 - 2px);
}

.player-hud {
    position: absolute;
    left: 16.5vw;
    bottom: 0.5vh;
    min-width: 50px;
    width: var(--player-hud-width);
    min-height: 100px;
    height: var(--player-hud-height);
    padding: var(--player-hud-padding);
    box-sizing: border-box;
    border-radius: 10px;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}

.progressradial {
    text-align: center;
    margin-block: calc(var(--progressradial-margin) / 2);
    height: var(--progressradial-height);
    width: calc(3vw - (2 * var(--player-hud-padding)));
}

.progressradial svg {
    margin-block: calc(var(--progressradial-margin) / 2);
    height: var(--progressradial-height);
    width: var(--progressradial-width);
}

.progressradial svg circle {
    cx: 50%;
    cy: 50%;
    stroke-width: 0.225em;
    r: 1.35em;
    stroke: rgb(187, 200, 222);
    stroke-opacity: 0.3;
}

#progress-voice {
    stroke: #bbc8de;
    stroke-opacity: 1;
}

.progress-icons {
    font-size: 1.1em;
    transform: translateY(-2em);
}

.player-hud .bars {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-width: 82.5%;
    width: 100%;
    height: 100%;
    margin-left: 5px;
}

.player-hud .bars .type {
    width: 97.5%;
    height: min-content;
    text-wrap: nowrap;
    margin-block: 1px;
}

.player-hud .bars .type .icon {
    display: inline-block;
    vertical-align: middle;
    margin-right: -4px;
    text-align: center;
    width: 20px;
}

.bars .type .progress {
    display: inline-block;
    vertical-align: middle;
    margin-right: -4px;
    margin-left: 8px;
    width: calc(100% - 25px);
    height: 0.75vh;
    background-color: rgba(187, 200, 222, 0.3);
    border-radius: 10px;
}

.bars .type .progress div {
    display: block;
    width: 10%;
    height: 100%;
    background-color: #bbc8de;
    border-radius: 10px;
}

.fa-hamburger {
    color: #dd6e14;
}

#progress-hunger {
    stroke-opacity: 1;
    stroke: #dd6e14;
}

.fa-tint {
    color: #1a7cad;
}

#progress-thirst {
    stroke-opacity: 1;
    stroke: #1a7cad;
}

.fa-brain {
    color: rgba(196, 0, 0);
}

#progress-stress {
    stroke-opacity: 1;
    stroke: rgba(196, 0, 0);
}

#progress-voice {
    width: 0%;
}

i {
    font-size: 1.25em;
    color: #ffffff;
}

.fa-terminal {
    color: #222222 !important;
}

.vehicle-hud {
    position: absolute;
    bottom: 0.5vh;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    position: absolute;
    width: fit-content;
    height: 100px;
    padding: 5px 5px 5px 5px;
    box-sizing: border-box;
    border-radius: 10px;
    overflow: hidden;
    align-items: center;
    opacity: 0;
    transition: opacity 0.5s linear;
}

.vehicle-hud .gauges {
    display: flex;
    flex-direction: row;
    align-items: baseline;
    font-family: Roboto, sans-serif;
    font-weight: normal;
    text-transform: uppercase;
}

#progress-speed {
    stroke-dasharray: 219.911486 219.911486;
    stroke-dashoffset: 219.911486;
}

#progress-fuel {
    stroke-dasharray: 113.09733552923255 113.09733552923255 ;
    stroke-dashoffset: 113.09733552923255 ;
    stroke: white;
    stroke-opacity: 0.8;
}

#progress-nitro {
    stroke-dasharray: 113.09733552923255 113.09733552923255 ;
    stroke-dashoffset: 113.09733552923255 ;
    color: #1a7cad;
}

#speed {
    fill: white;
    font-size: 1.5em;
    text-anchor: middle;
    translate: 37.5px 37.5px;
}

#speed-unit {
    font-size: 0.625em;
    fill: rgba(255, 255, 255, 0.5);
    text-anchor: middle;
    translate: 37.5px 55px;
}

#fuel {
    translate: -13px -15px;
}

#nitro {
    margin-left: -15px;
    translate: 12px -17px;
}

#seatbelt {
    color: #aa5555ff;
    margin-right: 5px;
}

.indicator {
    fill: none;
    stroke: white;
    opacity: 0.2;
    margin-inline: 5px;
}

.indicator-active {
    stroke: #f39c12;
    animation: fadeLoop 1s step-start infinite !important;
}

#highbeam {
    fill: white;
    opacity: 0.2;
    margin-inline: 5px;
}

#lowbeam {
    fill: white;
    opacity: 0.2;
    margin-inline: 5px;
}

.compass-hud {
    font-family: 'Oxygen', sans-serif;
    display: flex;
    flex-direction: row;
    align-items: center;
    position: absolute;
    bottom: 21vh;
    left: 1.5vw;
    opacity: 0;
    transition: opacity 0.5s linear;
}

.compass-hud i {
    font-size: 1.5em;
    color: white;
    margin-right: 5px;
}

#azimuth {
    color: white;
    font-size: 1.5em;
    margin-right: 10px;
    font-family: 'Oxygen-Bold', sans-serif;
}

.compass-hud .compass-location {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    font-size: 1.25em;
}

#street {
    color: white;
}

.compass-hud .compass-location span {
    height: 3px;
    border-radius: 1px;
    background-color: gray;
}

#zone {
    color: rgb(150, 150, 150);
}